{{>header}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><u>Registration</u></h1><br><br>

    <form action="/registration" method="POST">
        username:<input type="text" name="username" id=""><br>
        email:<input type="email" name="email" id=""><br>
        password:<input type="password" name="password" id=""><br>
        
        <input type="submit" name="" id="" value="Register">
    </form>

</body>
</html>
{{>footer}}